---
import Social from '../components/Social.astro'
import Icon from "../components/Icon.astro"

import IconLinkedin from '../icons/IconLinkedin.svg'
import IconGuthub from '../icons/IconGithub.svg'
import IconInstagram from '../icons/IconInstagram.svg'
import IconWakaTime from '../icons/IconWakaTime.svg'
---

<footer>
  <p>Siga as minhas redes sociais: 
    <Social url="https://www.linkedin.com/in/edivaldo-junior/" icon="IconLinkedin" />
    <Social url="https://github.com/EdiJunior88" icon="IconGithub" />
    <Social url="https://www.instagram.com/edijunior88/" icon="IconInstagram" />
    <Social url="https://wakatime.com/@EdiJunior" icon="IconWakaTime" />
  </p>
</footer>