---
const plataform = "github"
const username = "EdiJunior88"
---

<footer>
  <p>Aprenda mais sobre meus projetos no <a href={`https://www.${plataform}.com/${username}`}>{plataform}</a>!</p>
</footer>