---
import IconLinedin from '../icons/IconLinedin.astro'
import IconGuthub from '../icons/IconGithub.astro'
import IconInstagram from '../icons/IconInstagram.astro'
---

<footer>
  <p>Siga as minhas redes sociais: 
    <a href="https://www.linkedin.com/in/edivaldo-junior/" target="_blank"><IconLinedin /></a>
    <a href="https://github.com/EdiJunior88" target="_blank"><IconGuthub /></a>
    <a href="https://www.instagram.com/edijunior88/" target="_blank"><IconInstagram /></a>
  </p>
</footer>