---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const pageTitle = "Meu Blog de Aprendizado sobre Astro";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Aqui é onde postarei sobre minha joranada aprendendo Astro.</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
