---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "Meu Blog de Aprendizado sobre Astro";
---

<BaseLayout pageTitle={pageTitle}>
  <p>Aqui é onde postarei sobre minha joranada aprendendo Astro.</p>
    <ul>
      <li><a href="/posts/post-1">Postagem 1</a></li>
      <li><a href="/posts/post-2">Postagem 2</a></li>
      <li><a href="/posts/post-3">Postagem 3</a></li>
    </ul>
</BaseLayout>