---

---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Meu Site Astro</title>
	</head>
	<body>
    <a href="/">Início</a>
    <a href="/about">Sobre</a>
    <a href="/blog">Blog</a>

		<h1>Meu Site Astro</h1>
    <h1>Meu Blog de Aprendizado sobre Astro</h1>

    <p>Aqui é onde postarie sobre minha joranada aprendendo Astro.</p>
	</body>
</html>
